@model IEnumerable<Film>

@{
    ViewData["Title"] = "Kategoria " + Model.FirstOrDefault().Category.Name;
}

<table class="table table-striped">
	<thead>
		<tr>
			<th>Tytuł</th>
			<th>Reżyser</th>
			<th>Opis</th>
			<th>Cena</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var film in Model)
		{
			<tr>
				<td>@film.Title</td>
				<td>@film.Director</td>
				<td>@film.Description</td>
				<td>@film.Price zł</td>
				<td><a href="@Url.Action("Details", "Films", new { filmId = film.FilmId})">Więcej</a></td>
			</tr>
		}
	</tbody>
</table>